html
  head
    title Base
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous")
  body
    .wrapper(style="margin-top:40px;")
      .container
        .row
          .col-md-8.col-md-offset-2
            block body

